<div class="footer ml-8 mr-8">
  <div class="footer-top border-b border-gray-300 pb-4 mb-4">
    <!-- Content for the small div can go here -->
  </div>
  <div class="footer-columns flex flex-col md:flex-row md:justify-between">
    <div class="footer-column w-full md:w-1/3 p-4">
      <h3>Recursos</h3>
      <ul>
        <li>Recursos</li>
        <li>Targetes de regal</li>
        <li>Targetes de regal corporatives</li>
        <li>Cerca una botiga</li>
        <li>Nike Journal</li>
        <li>Fes-te Nike Member</li>
        <li>Descompte per a estudiants</li>
        <li>Comentaris</li>
        <li>Codis promocionals</li>
      </ul>
    </div>
    <div class="footer-column w-full md:w-1/3 p-4">
      <h3>Ajuda</h3>
      <ul>
        <li>Ajuda</li>
        <li>Obtén ajuda</li>
        <li>Estat de la comanda</li>
        <li>Enviament i lliurament</li>
        <li>Devolucions</li>
        <li>Opcions de pagament</li>
        <li>Posa't en contacte amb nosaltres</li>
        <li>Ressenyes</li>
        <li>Ajuda amb els codis promocionals de Nike</li>
      </ul>
    </div>
    <div class="footer-column w-full md:w-1/3 p-4">
      <h3>Empresa</h3>
      <ul>
        <li>Empresa</li>
        <li>Quant a Nike</li>
        <li>Novetats</li>
        <li>Ofertes de feina</li>
        <li>Inversors</li>
        <li>Sostenibilitat</li>
        <li>Objectiu</li>
        <li>Informa sobre algun problema</li>
      </ul>
    </div>
    <div class="footer-column w-full md:w-1/3 p-4 flex items-start justify-end">
      <div class="flex items-center">
        <i class="fa-solid fa-globe mr-2"></i>
        <span>Espanya</span>
      </div>
    </div>
  </div>
  <div class="footer-top border-b border-gray-300 pb-4 mb-4">
    <!-- Content for the small div can go here -->
  </div>
  <div class="footer-bottom py-4">
    <ul class="flex space-x-4">
      <p>&copy; 2025 Nike, Inc. Tots els drets reservats</p>
      <li>Guies</li>
      <li>Condicions d'ús</li>
      <li>Condicions de venda</li>
      <li>Informació de l'empresa</li>
      <li>Política de privadesa i galetes</li>
      <li>Configuració de privadesa i galetes</li>
    </ul>
  </div>
</div>
